<div class="container pt-4">
    <div class="row">
        <div class="col-sm">
            <div class="card shadow-sm p-3">
                <h4>Dave in the Warren Times-Gazette</h4>
                <p class="lead">July 1, 2020: Four Warren candidates hope for school committee seats</p>
                <p class="lead text-muted">
                    From the article: "Driven by numbers and professional insight into emerging technologies, 'I want to bring my focus into helping our 
                    schools modernize, overseeing what kind of technology' will help, and improving efficiencies."
                </p>
                <a class="btn btn-secondary" href="https://www.eastbayri.com/stories/four-warren-candidates-hope-for-school-committee-seats,82248?" role="button" target="_blank">Read the article</a>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-sm">
            <div class="card shadow-sm p-3">
                <h4>Dave in the Bristol-Warren Patch</h4>
                <p class="lead">July 16, 2020: Bristol-Warren Election Profile: David Matheson</p>
                <p class="lead text-muted">
                    From the article: "David Matheson is running for a seat on the Bristol-Warren regional school committee. 
                    The 42-year-old has been a Warren resident for more than a decade, after transplanting to the Ocean State from New Brunswick, Canada."
                </p>
                <a class="btn btn-secondary" href="https://patch.com/rhode-island/bristol-warren/bristol-warren-election-profile-david-matheson" role="button" target="_blank">Read the article</a>
            </div>
        </div>
    </div>
</div>
