<div class="container pt-4">
    <div class="row">
        <div class="col-sm-8">
            <h4>
                In 2006, I moved to Warren from Toronto with my wife, Jeannine, a native Ocean Stater.
            </h4>
            <p class="lead">
                Our plan - she would go to law school and I would find work as a software developer. 
                Along the way, we had two children together, are fortunate to have thriving careers, 
                and I can’t imagine living anywhere else.
            </p>
            <p class="text-muted">
                For the last 8 years, I have been writing software for Fidelity Investments in Smithfield, 
                RI. I tackle data analysis, automating as much of my job as possible, and agile team building. 
                My employer encourages volunteerism, and two years ago I took advantage of that workplace norm to 
                start an after-school coding club at KMS. The intellectual curiosity of middle schoolers 
                is awe-inspiring. Our club started with a motley assortment of coding equipment and now, 
                through a private grant, has grown to includea a group of 8-10 students using a language called
                Python to control Minecraft worlds on small computers called Raspberry Pis 
                (<a href="https://projects.raspberrypi.org/en/projects/getting-started-with-minecraft-pi" target="_blank">try it out!</a>).
            </p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/me-and-nini.png" class="rounded" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p class="text-muted">
                My decision to run for School Committee stems in part from this experience. I worked with 
                incredibly dedicated BWRSD teachers and administrators, but also noticed resource 
                shortages. The pandemic has only exposed further the digital disparities children and 
                educators experienced during distance learning. 
            </p>
            <p class="text-muted">
                I want the opportunity to be more actively involved in the decision-making for the children 
                in our community. I want to see safe school environments that promote diverse and inclusive 
                educational opportunities. We will need level-headed analysis in the coming year and beyond, 
                and I believe I am uniquely positioned to deliver it.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/me-and-toby.png" class="rounded" width="100%">
        </div>
    </div>
</div>
