<div class="container pt-4">
    <div class="row">
        <div class="col-sm-8">
            <h4>
                I have been living and working in Warren for 14 years as a software developer and architect.
            </h4>
            <p class="lead">
                For the last 8 years, I have been writing software for Fidelity Investments in Smithfield, RI. 
                I tackle data analysis, process automation, and agile team building, and I want to bring these 
                skills to the School Committee.
            </p>
            <p class="text-muted">
                I have been running an after-school Coding Club at KMS for the past two years, and I want the
                opportunity to be more actively involved in the decision-making for the children in our 
                community. We will need level-headed analysis in the coming year and beyond, and I believe I
                am uniquely positioned to deliver it.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/me-and-toby.png" width="100%">
        </div>
    </div>
</div>
