<div class="container pt-4">
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <img src="/assets/images/logo-with-all-type.png" class="img-fluid pb-4 w-100">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <iframe appIframeResizer src="https://givebutter.com/embed/c/NDORLf" width="100%" name="givebutter" frameborder="0" scrolling="no" seamless allowpaymentrequest></iframe><script src="https://givebutter.com/js/widget.js"></script>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row no-gutters justify-content-center pb-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <a class="btn btn-primary btn-donate w-100" href="https://givebutter.com/NDORLf" role="button" target="_blank">Click Here To Donate via Venmo</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
