/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$base-color: #70ceeb;

.btn-donate {
    color: #222021;
    background-color: $base-color;
    border-color: $base-color;
}