$base-color: #70ceeb;

.jumbotron h1 {
    color: $base-color;
}

.btn-donate {
    color: #ffffff;
    background-color: $base-color;
    border-color: $base-color;
}

.btn-secondary {
    background-color: #ed1b24;
    border-color: #ed1b24;
}