<div class="jumbotron py-4">
    <div class="container">
        <img src="/assets/images/banner.png" style="max-width:100%;">
        <h1 class="display-4">Hi, I'm David Matheson!</h1>
        <p class="lead text-muted">I'm running for Bristol Warren Regional School Committee</p>
        <hr class="my-4">
        <p>I want to return our kids safely to school, help modernize our technology, and improve our budgeting process</p>
        <a class="btn btn-primary btn-donate btn-lg" href="/donate" role="button">Donate</a>
        <a class="btn btn-secondary btn-lg mx-1" href="#" role="button">Learn More</a>
    </div>
</div>
<div class="album py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Here is some text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Here is some text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Here is some text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>