<div class="jumbotron pt-4">
    <div class="container">
        <img src="/assets/images/banner.png" style="max-width:100%;">
        <h1 class="display-4">Dave Matheson for School Committee</h1>
        <p class="lead text-muted">I'm running for Bristol Warren Regional School Committee</p>
        <hr class="my-4">
        <p>I want to return our kids safely to school, help modernize our technology, and improve our budgeting process</p>
        <a class="btn btn-primary btn-donate btn-lg" routerLink="/donate" role="button">Donate</a>
        <a class="btn btn-secondary btn-lg mx-1" routerLink="/about" role="button">Learn More</a>
    </div>
</div>
<div class="album py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/assets/images/home-left-column.png" width="100%">
                    <div class="card-body">
                        <p class="card-text">My kids are entering middle and high school, so I want to make sure we can return safely at all levels.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/assets/images/home-center-column.png" width="100%">
                    <div class="card-body">
                        <p class="card-text">Warren is a community that I love, and as a polical newcomer, I want the opportunity to give back.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/assets/images/home-right-column.png" width="100%">
                    <div class="card-body">
                        <p class="card-text">My spouse and I made the decision to raise our kids here 14 years ago because of the schools and warmth of this town.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>